[submodule "1-Machine-Learning/1-Generative-Models/2D Representation & Reconstruction/1-GANs"]
	path = 1-Machine-Learning/1-Generative-Models/2D Representation & Reconstruction/1-GANs
	url = https://github.com/yzy1996/Awesome-GANs
