absl-py==0.8.0
astor==0.8.0
astroid==2.2.5
attrs==19.3.0
autograd==1.3
autopep8==1.4.4
backcall==0.1.0
bleach==3.1.4
bokeh==1.4.0
botorch==0.2.0
cachetools==3.1.1
certifi==2019.6.16
chardet==3.0.4
Click==7.0
cloudpickle==1.2.2
cma==2.7.0
colorama==0.4.1
cycler==0.10.0
Cython==0.29.14
dask==2.9.1
deap==1.3.0
decorator==4.4.1
defusedxml==0.6.0
distributed==2.9.1
entrypoints==0.3
fsspec==0.6.2
future==0.17.1
gast==0.2.2
geatpy==2.2.3
get==2019.4.13
google-auth==1.6.3
google-auth-oauthlib==0.4.1
google-pasta==0.1.7
gpytorch==1.0.0
grpcio==1.23.0
gym==0.14.0
h5py==2.10.0
HeapDict==1.0.1
idna==2.8
importlib-metadata==0.23
ipykernel==5.1.3
ipython==7.9.0
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.15.1
Jinja2==2.10.3
jmetalpy==1.5.2
joblib==0.14.0
JPype1==0.7.1
json5==0.8.5
jsonschema==3.1.1
jupyter-client==5.3.4
jupyter-core==4.6.1
jupyterlab==1.2.1
jupyterlab-server==1.0.6
Keras==2.2.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.2
locket==0.2.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
mistune==0.8.4
more-itertools==7.2.0
msgpack==0.6.2
nbconvert==5.6.1
nbformat==4.4.0
notebook==6.1.5
numpy==1.17.2
oauthlib==3.1.0
omgifol==0.4.0
opencv-python==4.1.2.30
opt-einsum==3.0.1
packaging==19.2
pandas==0.25.1
pandocfilters==1.4.2
parso==0.5.1
partd==1.1.0
patsy==0.5.1
pickleshare==0.7.5
Pillow>=6.2.2
plotly==4.4.1
post==2019.4.13
prometheus-client==0.7.1
prompt-toolkit==2.0.10
protobuf==3.9.1
psutil==5.6.7
public==2019.4.13
py4j==0.10.7
pyasn1==0.4.7
pyasn1-modules==0.2.7
pycodestyle==2.5.0
pyglet==1.3.2
Pygments==2.4.2
pylint==2.3.1
pyltr==0.2.4
pyparsing==2.4.2
pyrsistent==0.15.5
PySCIPOpt==2.2.3
pyspark==2.4.4
python-dateutil==2.8.0
pytz==2019.2
pywin32==225
pywinpty==0.5.5
PyYAML==5.1.2
pyzmq==18.1.0
query-string==2019.4.13
requests==2.22.0
requests-oauthlib==1.2.0
retrying==1.3.3
rsa==4.0
scikit-learn==0.22
scikit-opt==0.5.4
scipy==1.3.1
Send2Trash==1.5.0
six==1.12.0
sklearn==0.0
sortedcontainers==2.1.0
statsmodels==0.10.2
style==1.1.0
tb-nightly==1.15.0a20190806
tblib==1.6.0
tensorboard==1.15.0
tensorflow-estimator==1.15.1
tensorflow-gpu>=1.15.2
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
tf-estimator-nightly==1.14.0.dev2019080601
toolz==0.10.0
torch==1.3.1
torchvision==0.4.1
tornado==6.0.3
tqdm==4.36.1
traitlets==4.3.3
typed-ast==1.4.0
update==0.0.1
urllib3==1.25.3
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.6
wrapt==1.11.2
zict==1.0.0
zipp==0.6.0
